{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<section class="section auth">
    <div class="card auth__card">
        <div class="card__glass">
            <h2>Set New Password</h2>
            {% if validlink %}
            <form method="post" class="form">
                {% csrf_token %}
                <label>New Password</label>
                <input type="password" name="new_password1" required placeholder="••••••••">
                <label>Confirm Password</label>
                <input type="password" name="new_password2" required placeholder="••••••••">
                <button type="submit" class="btn">Finish</button>
            </form>
            {% else %}
            <p class="card__location">Reset link is invalid or expired.</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
